In [15]:
import numpy as np
import pandas as pd
from pathlib import Path

In [ ]:
# https://www.esrl.noaa.gov/gmd/ccgg/globalview/ch4/ch4_description.html#gv_mtx

In [16]:
path_to_obs = Path.home() / 'UEA' / 'PhD' / 'obs' / 'GLOBALVIEW-CH4'

In [17]:
dfr = pd.read_csv(path_to_obs / 'ref_mbl_mtx.ch4')

In [22]:
dfr

                                         FORMAT='(F12.6  41(1X  F12.4))'
0      1984.000000    1584.5886    1584.6575    1584...    NaN       NaN
1      1984.020833    1582.7398    1582.8925    1582...    NaN       NaN
2      1984.041667    1581.0077    1581.2441    1581...    NaN       NaN
3      1984.062500    1579.4857    1579.7863    1579...    NaN       NaN
4      1984.083333    1578.2447    1578.5786    1578...    NaN       NaN
...                                                 ...    ...       ...
1196   2008.916667    1745.4546    1745.6128    1745...    NaN       NaN
1197   2008.937500    1742.8533    1743.0599    1743...    NaN       NaN
1198   2008.958333    1740.3144    1740.5488    1740...    NaN       NaN
1199   2008.979167    1737.7741    1738.0137    1738...    NaN       NaN
1200   2009.000000    1735.7728    1735.9473    1736...    NaN       NaN

[1201 rows x 3 columns]